$colorFrame: rgba(205, 214, 219, 0.4);
$colorHover: rgba(140, 160, 171, 0.4);
$shadow: 0px 0px 10px 3px rgba(255, 249, 249, 0.231);
$mainBorderColor: rgba(205, 214, 219, 0.4);
$BGContainer: rgba(140, 160, 171, 0.4);
