* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('../images/gradient_background_backdrop_multicolor_colorful_vibrant_3840x2160.png');
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2,
h3 {
  padding: 0;
  margin: 0;
}

input,
select {
  cursor: pointer;
  outline: none;
}
option {
  cursor: pointer;
}
