@use '../../styles/variables' as var;

.accountDetails {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 20px;
  border: 2px solid var.$mainBorderColor;
  border-radius: 15px;
  padding: 10px;
}
