@use 'styles/_variables.scss' as var;

.list {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var.$mainBorderColor;
}

.item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  padding: 10px;
  border-radius: 5px;
  background-color: none;
  transition: background 250ms ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var.$mainBorderColor;
  }
}
