@use '../../styles/variables' as var;

.item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid var.$mainBorderColor;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.list {
  padding-top: 10px;
}

.scroll {
  height: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 7px;
    background-color: var.$mainBorderColor;
    border-top-right-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #cccccc, #858b8c);
  }
}
